<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New articles', new_admin_article_path %>
<% end %>
<section id='articles'>
  <%= render @articles %>
</section>

<%= will_paginate @articles, renderer: 'BootstrapPaginationHelper::LinkRenderer' %>
